<div class="modal" data-modal="true" id="book_modal_edit">
    <div class="modal-content max-w-[600px] top-[15%]">
        <div class="modal-header py-4 px-5">
            <h3 class="modal-title">Modifier ma lecture</h3>
        </div>
        <div class="modal-body p-0 pb-5">
            <div class="scrollable-y-auto" data-scrollable="true" data-scrollable-max-height="auto"
                 data-scrollable-offset="300px">
                {{ form_start(formEdit) }}
                <div class="flex flex-col gap-5 p-5">
                    <div class="flex flex-col gap-1">
                        <label for="book" class="form-label font-normal text-gray-900">Livre</label>
                        {{ form_widget(formEdit.book_id, { 'attr': { 'class': 'select', 'id': 'edit-book-id' } }) }}
                    </div>

                    <div class="flex flex-col gap-1">
                        <label class="form-label font-normal text-gray-900">Mes notes</label>
                        <div class="flex flex-col w-full gap-1">
                            {{ form_widget(formEdit.description, { 'attr': { 'class': 'textarea', 'id': 'edit-description' } }) }}
                        </div>
                    </div>

                    <div class="flex flex-col gap-1">
                        <label for="book" class="form-label font-normal text-gray-900">Note</label>
                        {{ form_widget(formEdit.rating, { 'attr': { 'class': 'select', 'id': 'edit-rating' } }) }}
                    </div>

                    <div class="flex flex-col gap-1">
                        <label class="switch">
                            <span class="switch-label font-normal text-gray-900">Lecture terminée</span>
                            {{ form_widget(formEdit.is_read, { 'attr': { 'class': 'checkbox', 'id': 'edit-is-read' } }) }}
                        </label>
                    </div>

                    <div class="flex">
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>
                </div>
                {{ form_end(formEdit) }}
            </div>
        </div>
    </div>
</div>
